body {
    background-color: whitesmoke;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: <100>;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 60px;
    position: relative;
    left: 400px;
    top: 20px;
}

.e {
    display: flex;
    flex-direction: row;
    gap: 10px;
    ;
    background-color: black;
    height: 60px;
}

.r {
    text-decoration: none;
    color: white;
    position: relative;
    top: 10px;
    left: 140px;
}

.z {
    text-decoration: none;
    color: white;
}

.x {
    text-decoration: none;
    color: white;
}

.c {
    text-decoration: none;
    color: white;
}

.v {
    text-decoration: none;
    color: white
}

.b {
    text-decoration: none;
    color: white
}

.v :hover {
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    color: chartreuse;
}

.c :hover {
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    color: chartreuse;
}

.x :hover {
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    color: chartreuse;
}

.z :hover {
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    color: chartreuse;
}

.b :hover {
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    color: chartreuse;
}

.img {
    position: relative;
    left: 640px;
    width: 550px;
    height: 500px;
}

.all {
    position: relative;
    width: 520px;
    height: 10px;
    bottom: 400px;
    left: 70px;
}

.co {
    text-decoration: none;
    color: blue;
    font-size: larger;
    font-weight: 600;
    position: relative;
    left: 12px;
}

.sh {
    position: relative;
    top: 270px;
    left: 20px;
    text-decoration: none;
    background-color: orangered;
    border-radius: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px;
    color: white;
    box-shadow: 0px 1px 4px black;
}

h5 {
    position: relative;
    top: 20px;
    left: 20px;
}

h3 {
    position: relative;
    font-size: 50px;
    left: 20px;
}

h1 {
    position: relative;
    font-size: 50px;
    left: 12px;
}

.all :hover {
    color: black;
}